 /* Mixas093 */
#chat-messages .id-5515979 .badge-box i.bdg
{
        background-image:       url('http://www.flagsofallcountries.com/European_Union/Lithuania/lithuania_fb_mw.gif');
        background-size:        cover;
}
 /*Likuxas*/
#chat-messages .id-4049810 {
    color:    #f00;
    font-size: 12px;
}
